* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

:root {
  --black-text: #373943;
  --black-header: #24252e;
  --blue: #3e54d8;
  --underline: #f3b63f;
  --white: #ffffff;
  --grey: #929398;

  --blue-dark: #1b2d9d;

  --light-blue-bg: #eaf1fe;
  --light-blue-gradient-tobottom: linear-gradient(
    180deg,
    #ffffff 0%,
    #eaf1fe 100%
  );
}

.body {
  position: relative;
}

body,
button {
  font-family: "Montserrat", sans-serif;
  transition: 300ms;
}

.header {
  background-color: var(--light-blue-bg);
}

.starter {
  background-color: var(--light-blue-bg);
}

.excel {
  background: var(--light-blue-gradient-tobottom);
}

.toinvestor {
  background-color: var(--light-blue-bg);
}

.easy {
  background: var(--light-blue-gradient-tobottom);
}

.trust {
  background-color: var(--white);
}

.founder {
  background-color: var(--light-blue-bg);
}

.footer {
  background-color: var(--white);
}

.button__blue {
  background-color: var(--blue);
  font-weight: 600;

  color: var(--white);

  text-align: center;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.51);
  cursor: pointer;
}

.button__blue:hover {
  background-color: var(--blue-dark);
}

.button__subcribe {
  background-color: var(--white);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: var(--blue);

  display: flex;
  justify-content: center;
  gap: 19px;
  align-items: center;

  padding: 22px 22px;

  border: none;
  border-radius: 8px;
  box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.22);
  cursor: pointer;
}

.text__bold {
  font-weight: 700 !important;
}

.text__blue-bold {
  font-weight: 700;
  color: var(--blue);
}

.contact__link:hover {
  text-decoration: underline;
}

.contact__link--bold {
  font-weight: 600 !important;
}

.inline__text-link {
  color: var(--blue);
  text-decoration: none;
}

.inline__text-link:hover {
  text-decoration: underline;
}

.footer__rights {
  color: var(--grey);
}

.text__yellow-uderline {
  display: inline-flex;
  position: relative;
  z-index: 1;
  line-height: 130%;
  font-size: inherit;
  font-family: inherit;
}

.text__yellow-uderline::before {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: 32%;
  top: 7px;
  left: -5px;
  background: #f3b63f;
  z-index: -1;
  top: 65%;
}

.text__blue {
  color: var(--blue);
}

.starter__content-list {
  display: flex;
  flex-flow: column;
}

.starter__content-item {
  list-style: none;
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  line-height: 150%;
}

.starter__content-item::before {
  content: "";
  color: #ed6373;
  height: 8px;
  width: 8px;
  background-color: #ed6373;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 0%;
}

.select__radio {
  display: none;
}

.select__radio:checked ~ .select__option {
  color: var(--blue);
  font-weight: 600;
  height: 21px;
}

.trust__img-wrapper {
  border: 1px solid #e6eeff;
}

.excel__img {
  width: 100%;
  height: auto;
}

.select__option--disabled {
  display: none;
}

.china-lang {
  width: 53px;
}

.header__adaptive {
  display: flex;
  justify-content: space-between;
}

.starter__img {
  margin-top: -10.1%;
  margin-left: -18.1%;
  margin-bottom: -27.1%;
  margin-right: -19.7%;
}

.easy__horis-img-wrapper {
  display: flex;
  justify-content: center;
}

.excel__img-wrapper {
  margin-bottom: -10.38%;
  margin-right: -7.7%;
  margin-left: -7.6%;
  margin-top: -7.96%;
}

.vert__cards {
  display: flex;
}

.vert__card {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.vert__img-wrapper {
  background-color: var(--white);

  box-shadow: 0px 44px 89px -17px rgba(62, 84, 216, 0.09);
  border-radius: 36px;

  position: relative;
  padding: 50% 0;
}

.vert__content {
  display: flex;
  flex-flow: column;
}

.card__img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.toinvestor-vert__card {
  gap: 40px;
}

.trust-vert__cards {
  gap: 60px;
}

.toinvestor__header-text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.toinvestor__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.horis__img-wrapper {
  display: flex;
  width: fit-content;
}

.founder__img {
  margin-top: -4.8%;
  margin-left: -18%;
  margin-bottom: -20.1%;
  margin-right: -32%;
}

.founder__img-wrapper {
  width: fit-content;
}
