@media screen and (max-width: 949px) {
  body {
    overflow-x: hidden;
  }

  .header__wrapper {
    padding-top: 25px;
  }

  .header__adaptive {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .header__adaptive img {
    max-width: 100%;
    height: 100%;
  }

  .mobile--hide {
    display: none;
  }

  .content__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }

  .header__links-mobile,
  .header__menu-mobile {
    cursor: pointer;
  }

  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column;
    gap: 40px;
  }

  .footer__line {
    display: flex;
    flex-flow: column;
  }

  .footer__line:first-child {
    align-items: center;
    text-align: center;
  }

  .footer__cooperation {
    padding-top: 40px;
  }

  .footer__rights:last-child {
    padding-top: 24px;
  }

  .contact__link {
    padding-top: 16px;
  }

  .footer__item {
    display: flex;
    flex-flow: column;
  }

  .starter__header-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
  }

  .starter__content-item {
    font-size: 16px;
    line-height: 150%;
  }

  .starter__content-img-wrapper,
  .starter__content-img {
    display: flex;
    justify-content: center;
  }

  .button__blue {
    width: 100%;
    padding: 29px 0px;
  }

  .starter__wrapper {
    padding-top: 48px;
    position: relative;
  }

  .starter {
    padding-bottom: 95px;
  }

  .starter__button {
    position: absolute;
    width: 100%;
    bottom: 0px;
  }

  .starter__img {
    width: 100%;
    height: auto;
  }

  .starter__content-list {
    padding-top: 32px;
    padding-bottom: 37px;
  }

  .starter__content-list {
    gap: 12px;
  }

  .excel__wrapper {
    padding-top: 80px;
    padding-bottom: 91px;
  }

  .header__text-def {
    font-weight: 700;
    font-size: min(7vw, 30px);
    line-height: 130%;
    text-align: center;
  }

  .excel__text {
    padding-top: 40px;
    padding-bottom: 85px;
  }

  .container {
    padding: 0 25px;
  }

  .toinvestor__wrapper {
    padding-top: 18px;
    padding-bottom: 80px;
  }

  .toinvestor__text {
    padding-top: 40px;
  }

  .toinvestor__cards {
    padding-top: 40px;
  }

  .vert__cards {
    display: flex;
    flex-flow: column;
  }

  .card__img {
    padding: 20px;
    width: 100%;
    height: auto;
  }

  .toinvestor_img-content-wrapper {
    max-width: 300px;
    max-height: 300px;

    width: 100%;
    height: 100%;
  }

  .toinvestor_img-flex-wrapper {
    display: flex;
    justify-content: center;
  }

  .toinvestor__header-text {
    text-align: center;
  }

  .toinvestor-vert__cards {
    gap: 60px;
  }

  .toinvestor__cards {
    padding-bottom: 60px;
  }

  .easy__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .easy_horis_img {
    height: auto;
    width: 100%;
  }

  .horis__card {
    display: flex;
    flex-flow: column-reverse;
  }

  .horis__header-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-top: 32px;
  }

  .horis__text {
    padding-top: 16px;
  }

  .easy__cards {
    display: flex;
    flex-flow: column;
    gap: 80px;

    padding-top: 55px;
  }

  .founder__wrapper {
    padding-top: 83px;
    padding-bottom: 80px;

    display: flex;
    flex-flow: column-reverse;
  }

  .founder__header {
    padding-top: 55px;
    font-weight: 600;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
  }

  .founder__text {
    padding-top: 32px;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
  }

  .founder__button {
    padding-top: 32px;
  }

  .founder__img {
    width: 90%;
    height: auto;
  }

  .footer__right,
  .founder__img-wrapper {
    display: flex;
    justify-content: center;
  }

  .button__subcribe {
    width: 100%;
  }

  .horis__img-wrapper {
    margin-top: -5.8%;
    margin-right: -13.2%;
    margin-left: -13.2%;
    margin-bottom: -21.5%;
  }

  .trust__wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .turst__cards {
    padding-top: 40px;
  }

  .trust__text-wrapper {
    padding-top: 80px;
  }

  .turst__button {
    padding-top: 60px;
  }

  .trust__text {
    text-align: center;
  }

  .trust__card-content {
    text-align: center;
  }

  .turst-vert__wrapper {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }

  .trust-ver__flex-wrapper {
    display: flex;
    justify-content: center;
  }

  .trust__card-img {
    padding: 50px;
  }

  .toinvestor__card-content {
    gap: 16px;
  }

  .trust__card-content {
    gap: 12px;
  }

  .trust-vert__card {
    gap: 32px;
  }

  .contact__link {
    color: var(--blue);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
  }

  .button__blue {
    font-size: 16px;
    line-height: 20px;
  }

  .ui__burger-background {
    width: 38px;
    height: 38px;

    background-color: white;
    border-radius: 8px;

    position: relative;
  }

  .ui_line {
    position: absolute;
    border-radius: 100px;
    border: 1px solid var(--blue);
    background-color: var(--blue);

    transition: 300ms;
  }

  .header__links-mobile .ui__burger-line1 {
    width: 26px;

    top: 14px;
    left: 7px;
  }

  .header__links-mobile .ui__burger-line2 {
    width: 18px;

    top: 24px;
    left: 7px;
  }

  .header__links-mobile[active] .ui__burger-line1 {
    width: 26px;

    top: 50%;
    left: calc(50% - 13px);
    transform: rotate(-45deg);
  }

  .header__links-mobile[active] .ui__burger-line2 {
    width: 26px;

    top: 50%;
    left: calc(50% - 13px);
    transform: rotate(calc(45deg + 180deg));
  }

  .body.scroll_lock {
    overflow-y: hidden;
  }

  .header__links {
    display: none;
    transition: 300ms;

    height: auto;

    background-color: var(--light-blue-bg);
    overflow: hidden;

    box-shadow: 0px 14px 22px -13px rgba(62, 84, 216, 0.22);
  }

  .header__links[open] {
    display: flex;
    animation: slidedown 300ms forwards;
  }

  .header__links[closing] {
    animation: slideup 300ms forwards;
  }

  @keyframes slidedown {
    0% {
      transform: translateY(-110%);
    }

    100% {
      transform: translateY(0%);
    }
  }

  @keyframes slideup {
    0% {
      transform: translateY(0%);
    }

    100% {
      transform: translateY(-110%);
    }
  }

  .header__links-wrapper {
    width: 100%;
    left: 0;
    z-index: 1;
    padding-bottom: 30px;
  }

  .header__links {
    padding: 48px 25px;

    flex-flow: column;
    gap: 32px;
  }

  .header__link,
  .header__link:visited {
    width: fit-content;

    font-weight: 500;
    font-size: 28px;
    line-height: 122%;

    color: var(--black-text);
    text-decoration: none;

    transition: 300ms;
  }

  .header__link:hover {
    color: var(--blue);
  }

  .header__menus {
    display: none;
  }

  .header__menus[open] {
    display: flex;

    animation: slidedown 300ms forwards;
  }

  .header__menus[closing] {
    animation: slideup 300ms forwards;
  }

  .header__menus img {
    width: 20px;
  }

  .hide__overflow_menus {
    position: absolute;
    overflow: hidden;
  }

  .header__menu-wrapper {
    padding: 10px 25px 25px 25px;
    z-index: 3;
    right: 0px;

    height: 180px;
    transition: height 0.3s;
  }

  .header__menus {
    background-color: var(--white);
    width: 174px;
    padding: 20px;

    box-shadow: 0px 14px 22px -13px rgba(62, 84, 216, 0.22);
    border-radius: 8px;

    flex-flow: column;

    font-size: 18px;
    font-size: 18px;
    line-height: 100%;

    justify-content: start;
    align-items: flex-start;

    overflow: hidden;
  }

  .header__login-img,
  .header__login-separator {
    display: none;
  }

  .header__login-links {
    display: flex;
    flex-flow: column;
    gap: 24px;
    padding-bottom: 24px;
    order: 0;
  }

  .login__link,
  .login__link:visited {
    text-decoration: none;
    font-weight: 500;
    color: var(--blue);
  }

  .select__placeholder {
    display: flex;
    gap: 6px;
    align-items: center;
    user-select: none;

    cursor: pointer;
  }

  .select__placeholder-ico-wrapper {
    padding-bottom: 3px;
    transition: 300ms;
  }

  .select__placeholder-text {
    color: var(--blue);
    /* width: 100px; */
    font-weight: 500;
    font-size: inherit;
    /* font-size: 16px; */
    line-height: 21px;
    text-align: right;
    transition: 300ms;
  }

  .select {
    position: relative;
  }

  .select__options {
    display: none;
  }

  .select[open] .select__options {
    display: block;
    /* animation: slidedown 300ms forwards; */
  }

  .select[closing] .select__options {
    animation: slideup 300ms forwards;
  }

  .select__option-wrapper {
    height: 21px;
  }

  .select__option {
    transition: 100ms;
    cursor: pointer;
  }

  .select__option:hover {
    color: var(--blue);
  }

  .select__with-img {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .select_option_img {
    width: 20px;
    border: 1px solid #e6eeff;
  }

  .hide__overflow_menus-scroll {
    position: relative;
    overflow-y: scroll;
    height: 240px;
  }

  .select_language {
    position: relative;
  }

  .select__options-wrapper {
    overflow: hidden;
  }

  .header__menu-wrapper[active] {
    height: 470px;
    overflow-y: hidden;
  }

  .select__horisontal-line-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .select__horisontal-line {
    height: 1px;
    width: 124px;
    background-color: #d3e3ff;
  }

  .select__options {
    z-index: 10;
  }

  .header__language {
    order: 2;
  }

  .select__flex-wrapper {
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .ui_circle {
    position: absolute;
    transition: 0.3s;
  }

  .ui_circle-main {
    overflow: hidden;
    height: 24px;
    width: 24px;

    border: 2px solid var(--blue);
    border-radius: 50%;
    top: 7px;
    left: 7px;
  }

  .ui_circle-1 {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    left: 5px;
    top: 2px;
  }

  .ui_circle-2 {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 2px solid var(--blue);
    left: 2px;
    bottom: -6px;
  }

  .header__menu-mobile[active] .ui_circle-main {
    border: 0px solid var(--white);
    border-radius: 0;
  }

  .header__menu-mobile[active] .ui_circle-1 {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    height: 0px;
    border-radius: 100px;
    transform: rotate(45deg);
    width: 26px;
    top: 11px;
    left: -1px;
  }

  .header__menu-mobile[active] .ui_circle-2 {
    border: 1px solid var(--blue);
    background-color: var(--blue);
    height: 0px;
    border-radius: 100px;
    left: -1px;
    bottom: 11px;
    width: 26px;
    transform: rotate(135deg);
  }

  .investmesnt__header-text {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
  }

  .investments__wrapper {
    padding-top: 49px;
  }

  .investments__content {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  .investments__text {
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-bottom: 77px;
  }

  .investments__text {
    order: 1;
  }

  .investments__content-img-wrapper {
    order: 2;
  }

  .investments__content-telegram-link-wrapper {
    padding-top: 15px;
    order: 3;

    display: flex;
    justify-content: center;
  }

  .investments__content-telegram-link {
    display: flex;
    gap: 12px;
    align-items: center;

    text-decoration: none;

    color: var(--blue);

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }

  .investments__content-telegram-link:hover {
    text-decoration: underline;
  }

  .investments__button {
    padding-top: 36px;
    order: 4;
  }

  .investments__text-info {
    padding-top: 24px;
    order: 5;
  }

  .forwho__wrapper {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .forwho__cards {
    padding-top: 58px;
    display: flex;
    flex-flow: column;
    gap: 70px;
  }

  .forwho__card-content {
    padding-top: 0px;
    display: flex;
    flex-flow: column;
    gap: 24px;
  }

  .forwho__img-wrapper {
    max-width: 400px;
  }

  .forwho__img-wrapper {
    margin-bottom: -7.2%;
  }

  .forwho__info {
    padding-top: 60px;
  }

  .forwho__info-wrapper {
    flex-flow: column;
    align-items: center;
  }

  .howwork__wrapper {
    padding-top: 80px;
  }

  .investments__content-img-wrapper {
    /* margin-top: -10.3%;
    margin-right: -10.3%;
    margin-left: -10.5%;
    margin-bottom: -10.4%; */

    margin-top: -8.5%;
    margin-bottom: -8.6%;
  }

  .forwho__img-wrapper {
    /* margin-right: -9.3%;
    margin-bottom: -15.9%;
    margin-left: -9.9%;
    margin-top: -3.7%; */

    margin-top: -2.7%;
    margin-bottom: -12.2%;
  }

  .howwork__img-wrapper {
    /* margin-top: -11.6%;
    margin-right: -29.9%;
    margin-left: -29.9%;
    margin-bottom: -49%; */

    margin-top: -6.9%;
    margin-bottom: -31.4%;
  }

  .howwork_img-flex-wrapper {
    display: flex;
    justify-content: center;
  }

  .howwork_img-content-wrapper {
    max-width: 300px;
  }

  .howwork__content-text {
    text-align: center;

    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
  }

  .forwho-vert__card {
    gap: 50px;
  }

  .howwork-vert__card {
    gap: 50px;
  }

  .howwork__cards {
    gap: 60px;
  }

  .whywe__header {
    padding-top: 80px;
  }

  .whywe__card {
    flex-flow: column !important;
  }

  .whywe__cards {
    padding-top: 90px;
  }

  .whywe-horis__text {
    padding-top: 53px;
  }

  .howwork__cards {
    padding-top: 60px;
  }

  .whywe__button {
    padding-top: 60px;
    padding-bottom: 8px;
  }

  .whywe-horis__img-wrapper {
    /* margin-top: -16.6%;
    margin-left: -24%;
    margin-right: -12.9%;
    margin-bottom: -21.1%; */

    margin-top: -12.1%;
    margin-bottom: -15.7%;
  }

  .whywe-card__item {
    gap: 12px;
  }

  .whywe-card__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .faq__header-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
  }

  .faq__header-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .faq__header-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
  }

  .faq__header-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .faq__header {
    padding-top: 48px;
  }

  .faq__header-text {
    padding-top: 30px;
  }

  .faq__content {
    padding-top: 50px;

    background-image: url("../img/faq/mobile_imges.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    justify-content: center;

    padding-bottom: 80px;
  }

  .faq__questions-wrapper {
    background-color: var(--white);
    border-radius: 20px;
    max-width: 971px;
    padding: 25px 16px 50px 16px;
    width: 100%;
    margin: 0 25px;
  }

  .question__info {
    padding-top: 48px;
  }

  .question__info-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }
  .question__info-text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .question__checkbox:checked ~ .quetion__answer-wrapper {
    max-height: 1000px;
  }

  .tarif__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .tarif__cards {
    padding-top: 50px;
  }

  .tarif__card-content-text {
    padding-top: 32px;
  }

  .tarif__cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 24px;
  }

  .tarif__button {
    padding: 29px 10px;
    background-color: var(--blue);
    border-radius: 8px;

    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: var(--white);
    width: 100%;
    border: none;
    box-shadow: 0px 21px 22px -13px rgba(62, 84, 216, 0.51);
  }

  .tarifs__header-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 125%;
    padding-top: 48px;
  }

  .tarifs__header-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-top: 30px;
    text-align: center;
  }
}
